<% include ./partials/header.ejs %>
<a href="/" class="btn btn-lg btn-warning basicButtons">Home</a>
<!-- Default form register -->
<form class="text-center border border-light p-5" style="width:40%;" action="/register" method="POST">

    <p class="h4 mb-4">Register</p>

    <!-- Name -->
    <input type="text"  class="form-control mb-4" placeholder="Full Name" name="name" required>

    <!-- E-mail -->
    <input id="username" type="email" class="form-control mb-4" placeholder="E-mail" name="username" required>

    <!-- Password -->
    <input type="password" class="form-control" placeholder="Password" name="password" required>

    <input id="check" type="button" value="Check Username" class="btn btn-info my-4 btn-block" >
    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Register</button>

</form>
<!-- Default form register -->
<% include ./partials/javascriptFile.ejs %>
<% include ./partials/footer.ejs %>